header{
    height: 45px;
    background-color: #f48460;
    color: white;
}
#foot{
    max-width: 100%;
}
#phone{
    margin-left: 70px;
}
i{
    color: white;
    margin-right: 10px;
}
#mail{
    margin-left: 30px;
}
#navbarNavAltMarkup{
    max-width: 50% ;
}
#navi{
    color: black;
    background-color: white;
}
#carouselExampleIndicators{
    height: 500px;
}
.carousel-inner{
    height: 600px;
}
.nav-link{
    margin: 12px;
}
.slide{
    height: 600px;
}
#cards{
    margin-top: 140px;
}
.card{
   margin-top: 120px;
    text-align: center;
    background-color: white;
    border: #f48460 1px solid;
    border-radius: 5px;
    border-left: #f48460 1px solid;
    margin-bottom: 30px;
}
.fa-dumbbell{
   color: black;
}
.ps{
    background-color: #f1f1f1;
}
hr{
    border: #f48460 1px solid;
}
#grey{
    background-color: #f1f1f1;
}
.istruct{
    margin-top: 10px;
    border-radius: 4px;
}
#about{
    margin-top: 20px;
}
.card-img-top{
    height: 420px;
}
footer{
    background-color: black;
    color: white;
}
a{
    text-decoration: white;
    color: white;
}
span{
    margin-right: 30px;
}